html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(33%)
        saturate(1051%) hue-rotate(210deg) brightness(97%) contrast(98%);

    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: #ededf633;
    --top-act-group-separate: #ededf6;
}
